cm-logicapp-stateful/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@triggerOutputs()['queries']['cool']",
                                "cool"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Response": {
                        "type": "Response",
                        "kind": "http",
                        "inputs": {
                            "statusCode": 200,
                            "body": "Cooler Request angekommen"
                        },
                        "runAfter": {
                            "Send_message": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Send_message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "entityName": "mail",
                                "message": {
                                    "contentData": "@triggerOutputs()['queries']['cool']"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "sendMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {},
                "else": {
                    "actions": {
                        "Response_2": {
                            "type": "Response",
                            "kind": "http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "Kein cooler Request angekommen: @{triggerOutputs()['queries']['cool']}"
                            },
                            "runAfter": {}
                        }
                    }
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}